body {
  background: url("../assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Lucida Sans', Verdana, sans-serif;
  scroll-behavior: smooth;
}

.root {
  display: grid;
  grid-template: "header"
                 "main"
                 "footer";
  grid-template-rows: 70px auto 70px;
  grid-template-columns: 100%;
  row-gap: 30px;
}

.header {
  grid-area: header;
  background-color: #000;
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 1;
}

.header__logo {
  width: 180px;
  height: auto;
}

.nav-bar {
  display: flex;
  column-gap: 40px;
}

.header__text {
  color: #fff;
}

.header__link {
  text-decoration: none;
}

.nav-bar__item:hover, .products-container__item:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition-property: all;
  transition-timing-function: ease-out;
  transition-duration: 0.1s;
}

.main-content {
  grid-area: main;
  display: grid;
  grid-template: "banner-container"
                 "home-products"
                 "newsletter-form";
  grid-template-columns: 100%;
  grid-template-rows: 450px auto auto;
  row-gap: 90px;
}

.banner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: banner-container;
}

.banner-container__link {
  max-width: 95%;
}

.banner-container__img {
  width: 100%;
  height: auto;
  transition-property: opacity;
  transition-timing-function: ease-in;
  transition-duration: 1s;
}

.products-container {
  grid-area: home-products;
  display: flex;
  column-gap: 10px;
  row-gap: 30px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.products-container__item {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
 
.products-container__current-price {
  color: #f44d00;
}

.products-container__original-price {
  text-decoration: line-through;
  font-size: 0.8em;
}

.products-container__img {
  width: 150px;
  height: auto;
}

.newsletter-container {
  grid-area: newsletter-form;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  align-items: center;
}

.newsletter-form {
  
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 40%;
}

.newsletter-container__input {
  border: none;
  border-bottom: #000 1px solid;
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  background-color: transparent;
}

.newsletter-container__button {
  width: 100%;
  height: 40px;
  padding: 0;
  border: none;
  outline: none;
  color: #fff;
  background-color: #000;
  font-weight: bold;
  font-size: 1.1em;
}

.newsletter-container__button:hover {
  cursor: pointer;
}

.footer-container {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}

.footer-container__link {
  text-decoration: none;
}

.footer-container__icon {
  width: 35px;
  height: auto;
}

@media screen and (max-width: 645px) {

  .root {
    grid-template-rows: fit-content auto 70px;
  }

  .main-content {
    grid-template-rows: 250px auto auto;
    row-gap: 30px;
  }
  
  .header {
    flex-direction: column;
    padding: 15px 0;
  }

  .nav-bar {
    flex-wrap: wrap;
  }

  .newsletter-form {
    width: 90%;
  }
}